<% include header %>

    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h1>Tantárgyak felvétele/leadása</h1>
        </div>
      </div>
      <div class="row">
        <div class="col">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Tanított tantárgyak</th>
                    <th scope="col">Időpont</th>
                    <th scope="col">Tanár</th>
                    <th scope="col" style="width: 1px"></th>
                  </tr>
                </thead>
                <tbody>
                  <% subjects.forEach(function(subject){ %>
                    <tr>
                      <td><%= subject.name %></td>
                      <td><%= ["Hétfő", "Kedd", "Szerda", "Csütörtök", "Péntek"][subject.day-1] %> <%= subject.start %>-<%= subject.end %></td>
                      <td><%= subject.teacherName %></td>
                      <td>
                          <% let taking = user.subjects.indexOf(subject._id) >= 0;%>
                          <a href="/student/<%= user.id %>/<%= taking?"drop":"take" %>/<%= subject._id %>" class="btn <%= taking?"btn-danger":"btn-success" %>"><%= taking?"Leadás":"Felvétel"%></button>
                      </td>
                    </tr>
                  <% }); %>
                </tbody>
            </table>
        </div>
      </div>   
      <div class="row text-center">
        <div class="col">
            <a class="btn btn-secondary" href="/student/<%= user.id %>">Vissza</a>
        </div> 
      </div>         
    </div>
    
<% include footer %>